@import "variables";
@import "media_queries";
@import "components";

@font-face {
   font-family: "AkiraExpanded";
   src: url("/assets/AkiraExpanded.otf") format("opentype");
}

body {
    background: $black;
    color: $white !important;
    font-family: $akira;
    font-size: 16px;

    /** Page Load Transition */
   animation: fadeInAnimation ease 3s; 
   animation-iteration-count: 1; 
   animation-fill-mode: forwards;
}
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
  } 

p {
    margin-block-end: 2em;

    &:last-child {
        margin-block-end: 0;
    }
}

a {
    &:hover {
        text-decoration: none !important;
        color: $yellow !important;
    }

    &.inline_link {
        color: $white; 
        text-decoration: underline !important;
        
        &:hover {
            color: $yellow;
        }
    }
}