@import "variables";
@import "media_queries";
@import "components";

@font-face {
   font-family: "AkiraExpanded";
   src: url("/assets/AkiraExpanded.otf") format("opentype");
}

body {
    background: $black;
    color: $white !important;
    font-family: $akira;
    font-size: 16px;
}

p {
    margin-block-end: 2em;
}

a {
    &:hover {
        text-decoration: none !important;
        color: $yellow !important;
    }

    &.inline_link {
        color: $white; 
        text-decoration: underline !important;
        
        &:hover {
            color: $yellow;
        }
    }
}