.wrapper {
    padding: 75px 30px 100px;
    position: relative;
    margin-top: 80px;
    // z-index: -1;

    &.home {
        z-index: 0;
        padding: 0px 20px 0 30px;

    }
    &.screen005-wrap {
        @include laptop {
            max-width: 400px;
        }
    }
    @include tablet {
        max-width:500px;
        margin: auto;
        padding: 0 20px 0 30px;
    }

    @include laptop {
        // display: none;
        max-width: 650px;
    }
}


// Pagination
.pagination_group {
    width: 100%;
    padding: 12px 20px 20px;
    border-top: 1px solid;
    position: fixed;
    bottom: 0;
    background: $black;

    @include laptop {
        // display: none;
    }
}


// Video
video {
    pointer-events: none;
}
video::-webkit-media-controls-start-playback-button {
    display: none;
}


// Toggle
.content {
    display: none;
}

.accordion-item {
    position: relative;
}

ul.accordion {
    list-style: none;
    padding: 0;
  
    .inner {
        // padding-left: 1em;
        padding-inline-start: 0;
        overflow: hidden;
        display: none;
        font-family: $body-font;
      
        &.show {
          /*display: block;*/
        }

        li {
            @extend .std_copy;
            list-style: none;
            padding-bottom: 20px;

            &:last-child {
                padding-bottom: 50px;
            }
            
        }
    }
  
    li.accordion_wrapper {
        margin: .5em 0;
        border-bottom: 1px solid white;
        

        &:last-child {
            border-bottom: 0;
        }
      
        a.toggle {
            width: 100%;
            display: block;
            background: rgba(0,0,0,0.78);
            color: #fefefe;
            padding: 1.5em 0;
            border-radius: 0.15em;
            transition: background .3s ease;
            font-size: 22px;
          
            &:hover {
                background: rgba(0, 0, 0, 0.9);
                text-decoration: none;
                color: $yellow;
            }
        }
    }
}


// BTN
.btn_wrapper {
    text-align: center;
}
.btn {
    font-size: 14px;
    display: block;
    
    padding: 40px 0 30px;

    &.yellow_btn {
        color: black;

        div {
            background: $yellow;
            width: 200px;
            padding: 8px 10px;
            border-radius: 50px;
            text-align: center;
            margin: auto;

            @include tablet {
                width: 220px;
                padding: 12px 10px; 
                font-size: 14px;
            }
    
            &:hover {
                background: $white;
                text-decoration: none;
                color: $black;
                transition: 1s;
            }
        }
    }
    &.white_btn {
        color: $white;

        div {
            background: transparent;
            width: 240px;
            padding: 11px 15px;
            border-radius: 50px;
            text-align: center;
            border: 1px solid white;
            margin: auto;
    
            &:hover {
                background: $white;
                text-decoration: none;
                color: $black;
                transition: 1s;
            }
        }
    }

    &:hover {
        text-decoration: none;
    }   
}


// Animated Numbers
.animated_numbers {
    font-size: 100px;
    text-align: center;
}


// Pagination
.pagination {
    a {
        color: white;

        &:hover {
            color: $yellow;
            text-decoration: none;
        }
    }
}


// Content
.all_groups {
    padding-top: 100px;

    @include tablet {
        padding-top:30px;
    }
}
.btg_video {
    margin: 100px 0 150px;
}
.group {
    padding-bottom: 25px;
}


// Ideas
.idea_group {
    padding: 60px 0 75px;
}

// Screen 003
.project_img {
    padding-top: 75px;
}
.project_number {
    text-align: center;
    font-size: 50px;
}
.project_list, .collab_list {
    padding-inline-start: 15px;
    li {
        list-style-type: '– ';
    }
}

// Screen 004
.thug_section {
    background-image: url(/assets/thug.jpg);
    height: 100vh;
    background-size: cover;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.project_img {
    &.screen_004 {
        text-align: center;
        padding: 55px 0;

        img {
            width: 100%;
        }
    }

    img {
        width: 100%;
    }
}
.thug_desc {
    padding-bottom: 25px;
}

// Bridging the Gap 
.btg_video {
    img {
        width: 100%;
    }
}

// Marquee
.marquee_group {
    background: $white;
    color: $black;
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-size: 12px;
}

// Screen 002
.gap {
    @include tablet {
        padding-top: 20vh;
        padding-bottom: 10vh;
    }
}
.screen005-gap {
    @include tablet {
        padding-top: 12vh;
        padding-bottom: 10vh;
    }
    @include laptop {
        padding-bottom: 4vh;
    }
}

//  Logo
.fixed_logo {
    position: absolute;
    top: 10px;
    right: 40px;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
}