// Global
.std_head {
    font-size: 44px;
    text-align: center;
    line-height: 36px;
    letter-spacing: 0.34;

    &.home {
        // font-size: 36px;
        // line-height: 30px;
    }
}
.std_copy {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.2;
    font-family: $body-font;
    font-weight: 300;

    a {
        color: white;
    }
}
.sm_head {
    font-size: 14px;
    letter-spacing: 0.5;
}
.centered {
    text-align: center;
}


// Header
header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 30px 15px 15px;
    background: $black;
    z-index: 1;
}
.logo {
    text-align: center;
    position: relative;
    z-index: 9999;
    
    img {
        width: 30px;
    }
}
.menu_title {
    position: absolute;
    right: 20px;
    top: 24px;
}


// Welcome
.home_group {
    padding: 0 0 50px;

    &:last-child {
        padding-bottom: 0 !important;
    }

    ul {
        list-style: none;
        text-align: center;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
        padding-top: 30px;

        li {    
            padding-bottom: 10px;
            font-size: 18px;

            a {
                color: white;
                font-size: 18px;
            }
        }
    }
}
.home_desc {
    margin-top: 50px;
    text-align: center;
}