---
layout: std
---

<div class="wrapper home">
    <section>
        <div class="home_group">
            <div class="std_head home">Black Lives Matter</div>
            <div class="std_copy home_desc">We took an opportunity to brainstorm some ideas that promote spreading love and sustainability in communities all across the world.   We invite businesses, artists and makers to help us see our initiatives through.</div>
        </div>
        
        <div class="home_group last">
            <div class="sm_head centered">navigation</div>
            <ul>
                {% for item in site.data.home-nav %}
                <li>
                    <a href="{{ item.url }}">
                        {{ item.name }}
                    </a>
                </li>
                {% endfor %}
                <!-- <li><a href="/screen-001/">Intro</a></li>
                <li><a href="#">Bridging the Gap</a></li>
                <li><a href="#">SVNCRWNS x Sankofa</a></li>
                <li><a href="#">2015. Thug Myth</a></li>
                <li><a href="#">Ideas</a></li> -->
            </ul>
        </div>
        
        <div class="btn_wrapper">
            {% include cta.html cta-title="Get Started" class="yellow_btn" url="/screen-001" %}
        </div>

        
        
    </section>
</div>
<div class="marquee_group"><marquee>We love you. All of you are worthy. Our value is not for sale. We are not the problem. Stick your chest out, rise and rise and rise. It's time.</marquee></div>