---
layout: std
---

<div class="wrapper home">
    <div class="frow centered">
        <section>
            <div class="home_group blo">
                <!-- <div class="support">in support of</div> -->
                <div class="std_head home">Black Love Offering</div>
                <div class="std_copy home_desc">We took an opportunity to brainstorm some ideas that promote spreading love and sustainability in communities all across the world.   We invite businesses, artists and makers to help us see our initiatives through.</div>
            </div>
            
            <div class="home_group last">
                <div class="sm_head centered">navigation</div>
                <ul>
                    {% for item in site.data.home-nav %}
                    <li>
                        <a href="{{ item.url }}">
                            {{ item.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            
            <div class="btn_wrapper">
                {% include cta.html cta-title="Get Started" class="yellow_btn" url="/screen-001" %}
            </div>
        </section>
        
    </div>
</div>
<!-- <div class="marquee_group"><marquee>We love you. All of you are worthy. Our value is not for sale. We are not the problem. Stick your chest out, rise and rise and rise. It's time.</marquee></div> -->
<!-- <div class="marquee_group"><marquee>We can bridge the gap. Businesses link with businesses. Let's create resources and spread them all over our communities.  Anything is possible.</marquee></div> -->