---
layout: std-002
---

<section class="thug_section" style="background-image:url('/assets/thug.jpg');">
    <div class="wrapper">
        <div class="sm_head screen_004">#throwback</div>
        <div class="project_img screen_004">
            <img src="/assets/year.png" />
        </div>

        <div class="thug_desc">
            <div class="std_copy">
                <p>SVNCRWNS partnered with Noisy Tenants to produce the THUG MYTH Documentary.  This initiative was inspired following the death of Freddie Gray and the Baltimore Uprising.   We interviewed over 20 men asking them self-reflective questions as it relates to their identity and how they feel they’re portrayed in media. Are you a THUG?
                </p>
            </div>
        </div>

        <div class="thug_btn_group">
            {% include cta.html cta-title="View Thug Myth Footage" class="white_btn" url="/" %}
        </div>
    </div>
</section>
{% include blm_pagination_002.html %}